<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expense Categories</title>
</head>
<body>
    <h1>Expense Categories</h1>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Number of receipts</th>
        </tr>
      </thead>
      <tbody>
        {% for category in category_list %}
        <tr>
          <td>{{ category.name }}</td>
          <td>{{ category.receipts.all.count }}</td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
</body>
</html>
